@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');
$text: 'DM Sans', sans-serif;
$title: 'Inter', sans-serif;

$ice-100: #ffffff;
$ice-200: #fafbfdd3;
$ice-300: #ecefff1f;
$ice-400: #ecefff93;
$ice-500: #d0d7fc2d;
$ice-600: #e8ebfdb9;
$accent-100: #4067f9;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $ice-200;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    .account-actions {
        width: 100%;
        padding: 0 15px;

        .account-actions-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 25px 25px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
            border-radius: 5px;
            background-color: $ice-100;

            .account-actions-body {
                text-align: center;
                .action-title {
                    padding: 0 0 20px 0;
                    text-transform: uppercase;
                    text-align: left;
                }
                .form-row {
                    display: grid;
                    .input-container {
                        width: 100%;

                        label {
                            display: block;
                            text-align: left;
                        }

                        input[type=text],
                        input[type=password] {
                            width: 100%;
                            margin: 10px 0 20px 0;
                            padding: 10px 0 10px 8px;
                            outline: none;
                            border: none;
                            border-radius: 3px;
                            background-color: $ice-500;
                            transition: all 0.2s;
                        }
                    }
                }
                .submitBtn {
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 8px 0;
                    outline: none;
                    border: 2px solid $ice-400;
                    background-color: $ice-300;
                    transition: all 0.15s;
                }
                .action-link {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    main {
        .account-actions {
            .account-actions-container {
                .account-actions-body {
                    #double-input {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }    
} 